/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main{
	background-color: #ffffff;
	height:500sp;
}


header{
	background-color: #000000;
	display:block;
	height:450sp;
	padding:0sp 0sp 70sp 0sp;
	
}

footer{
	background-color: #000000;
	display:block;
	padding:10sp 10sp 70sp 10sp;
	margin-top: 0sp;
	height:100sp;


}

#vishaal{ 
border-radius: 50%; }

.grow img{
	height: 250sp;
  	width: 250sp;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover{
	height:300sp;
	width:350sp;
}

#name h1{

	font-size:80sp;
	color:#ffffff;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#name h1:hover{

	font-size:100sp;
	color:#ffffff;
}

ul {
    list-style-type: none;
    font-family:helvetica;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li#last{
	float:right;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16sp;
    text-decoration: none;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

}

li a:hover {
    background-color: #ffffff;
    color:#000000;
    transform:scale(1.2);


}
h1#head{
	font-family:verdana;
	font-size: 100sp;
	color:#ffffff;

}

main{
	height:980sp;
}


.button {
    background-color: #ffffff;
    color: #000000;
    padding: 15sp 32sp;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35sp;
}

#main1 {
    border-radius: 25sp;
    border: 2sp solid #000000;
    padding: 20sp; 
    width: 200sp;
    height: 150sp;
    position:absolute;
    top:550sp;
    left:200sp; 
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#hi p:hover{
	background-color:#010101;
	font-size:45sp;
	color:#ffffff;
	width: 250sp;
	height: 250sp;
	border: 2sp solid #ffffff;
}


#main2 {
    border-radius: 25sp;
    border: 2sp solid #000000;
    padding: 20sp; 
    width: 200sp;
    height: 150sp;
    position:absolute;
    top:550sp;
    left:840sp; 
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#main3 {
    border-radius: 25sp;
    border: 2sp solid #000000;
    padding: 20sp; 
    width: 200sp;
    height: 150sp;
    position:absolute;
    top:850sp;
    left:200sp; 
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#main4 {
    border-radius: 25sp;
    border: 2sp solid #000000;
    padding: 20sp; 
    width: 200sp;
    height: 150sp;
    position:absolute;
    top:850sp;
    left:840sp; 
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}


#main5 {
    border-radius: 25sp;
    border: 2sp solid #000000;
    padding: 20sp; 
    width: 200sp;
    height: 150sp;
    position:absolute;
    top:1150sp;
    left:530sp; 
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
      }

body{
	margin: 0;
	padding: 0;
	background:url("http://www.designbolts.com/wp-content/uploads/2013/02/Light-aluminum-Grey-Seamless-Pattern-For-Website-Background.jpg");
	background-attachment: fixed;
}
h1{
	padding: 0;
	margin: 0;
}

.wrapper{
	width:1000sp;
	margin:0 auto;
}